* {
    margin: 0;
    padding: 0;
   box-sizing: border-box; 
   font-family: Open sans, sans-serif;
}

html, body {
    height: 100%;
}

.container {
    display: grid;
    margin: 0 auto;
    width: 61.46vw;
    max-width: 1180px;
}

.wrapper {
    min-height: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 4.58vw 1fr 19.32vw ;
    grid-template-areas: 
    "header"
    "content"
    "footer";
}

.header {
    width: 100%;
    grid-area: header;
    overflow: hidden;
    box-shadow: 0 15px 16px -15px rgba(32, 108, 164, 0.16);

    &__container {
        height: 100%;
        display: grid;
        grid-template: "left right" 1fr
        / 2fr 10fr;
    }

    &__left {
        display: flex;
        align-items: center;
        grid-area: left;
    }

    .logo {
        &__img {
            width: 100%;
        }
    }

    &__right {
        display: flex;
        justify-self: end;
        align-items: center;
        grid-area: right;
    }

    .nav-list {
        display: inline-flex;
        &__item {
            display: inline-block;
        }

        &__link {
            
            display: flex;
            align-items: center;
            color: $paragraph;
            font-style: normal;
            font-weight: normal;
            font-size: 0.78vw;
            line-height: 150%;
            text-decoration: none;
            margin-right: 0.78vw;
            cursor: pointer;

            img {
                max-width: 100%;
            }


            &--bold {
                font-weight: bold;
                line-height: 20px;
            }

        }

        
    }

}

.btn {
    @include btn;

     &__header {
         margin-right: 1.5625vw;
         margin-left: 0.7813vw;
     }

     &--purple {
         color: #fff;
         background: $primary;
     }

     &--borded {
         background: #fff;
         border: 2px solid #63718E;
         &:hover {
            box-shadow: none;
            color: $primary;
            border: 0.104vw solid $primary;
         }
     }
 }

.content {
    height: 100% ;
    grid-area: content;

    .promo {
        display: grid;
        padding-bottom: 12.656vw ;

        &__container {
            height: 100%;
            display: grid;
            grid-template: "left right" 1fr
            / 1fr 1fr;
        }

        &__left {
            margin-top: 10.3125vw;
            grid-area: left;
        }

        &__title {
            @include title;
            font-size: 2.19vw;
        }

        &__text {
            margin-top: 1.042vw;
            padding-right: 1.042vw;
            @include text;
        }

        &__btn {
            margin-top: 1.563vw;
            line-height: 1.042vw;
            padding: 0.859vw 4.36vw; 
            font-size: 1.042vw;
        }

        &__right {
            grid-area: right;
        }

        .bg-img {
            position: absolute;
            margin-top: 5.468vw;
            background: url('../image/promo-image.png')  center center/cover no-repeat;
            width: 35.52vw;
            height: 33.646vw;
            max-width: 682px;
            max-height: 646px;
        }
    }

    .section {
        position: relative;
        display: grid;
        max-height: 680px;
        padding-bottom: 11.875vw;
        &__container {
            height: 100%;
            display: grid;
            grid-template: "left right" 1fr
            / 1fr 1fr;
        }

        &__left {
            display: flex;
            justify-content: flex-end;
            align-items: flex-end;
            grid-area: left;
        }

        &__right {
            margin-left: 1.1458vw;
            grid-area: right;
        }

        &__title {
            margin-top: 7.7083vw;
            @include title;
            font-size: $thttw;
        }

        &__text {
            margin-top: $twnty;
            @include text;
        }

        &__btn {
            line-height: $twnty;
            font-size: $twnty;
            padding: 0.859vw 1.745vw;
            margin-top: $twnty;
        }

        .bg-img {
            position: absolute;
            margin-top: 2.135vw;
            background: url('../image/requirements-image.png')  center center/cover no-repeat;
            width: 37.76vw;
            height: 26.72vw;
            max-width: 725px;
            max-height: 513px;
            z-index: -1;
        }

        &__item {
            margin-right: 5.2083vw;
            max-width: 380px;
            padding-top: 1.51vw;
            padding-bottom: 0.99vw;
            background: #FFFFFF;
            box-shadow: 0px 2px 16px rgba(32, 108, 164, 0.16);
            border-radius: 8px;

            .wrapper-item {
                display: flex;
                align-items: center;
            }

            &__img {
                margin-left: 1.458vw;
            }

            &__title {
                @include title;
                font-size: $eitn;
                margin-left: 0.521vw;
            }

            &__text {
                margin: 0.521vw 1.458vw 0 1.458vw;
                @include text;
            }
        }
    }

    .calculator {
        padding: 2.344vw 0;
        max-height: 450px;
        &__container {
            padding: 3.073vw 0 3.385vw 0;
            display: grid;
            height: 100%;
            grid-template-rows: 1fr;
            grid-gap: $twnty;
            grid-template-columns: repeat(12, 1fr);
            box-shadow: 0px 2px 16px rgba(32, 108, 164, 0.16);
            border-radius: 8px;
        }

        &__title {
            grid-row: 1/2;
            grid-column: 6/8;
            @include title;
            font-size: $thttw;
            text-align: center;
            line-height: 0;
            
        }

        &__text {
            margin-top: 0.833vw;
            grid-row: 3/2;
            grid-column: 4/10;
            @include text;
            text-align: center;
        }

        &__select {
            @include calcEl;
            padding: 0.625vw 0 0.625vw $twnty;

            &--colors {
                grid-row: 3/4;
                grid-column: 2 /4;
            }

            &--size { 
                grid-row: 3/4;
                grid-column: 4/6;
            }

            
            &--city {
                grid-row: 4/5;
                grid-column: 2/6;
            }

            &--post { 
                grid-row: 4/5;
                grid-column: 6/10;
            }
        }

        &__addition {
            @include calcEl;
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            grid-row: 3/4;
            grid-column: 6/8;
        }

        &__calendar {
            @include calcEl;
            display: flex;
            justify-content: center;
            align-items: center;
            grid-row: 3/4;
            grid-column: 8/10;
        }

        &__summ {
            color: $primary;
            font-family: Epilogue;
            text-align: center;
            align-self: center;
            font-weight: bold;
            font-size: 1.145vw;
            grid-row: 3/4;
            grid-column: 10/12;
        }

        &__btn {
            font-size: $twnty;
            font-weight: bold;
            grid-row: 4/5;
            grid-column: 10/12;
        }
    }

    .steps {

        &__container {
            height: 100%;
            display: grid;
            grid-template-columns: repeat(6, 2fr);
            grid-column-gap: $twnty;
        }

        &__title {
            grid-row: 1/2;
            grid-column: 3/5;
            @include title;
            text-align: center;
            font-size: $thttw;
        }

        &__text {
            @include text;
            text-align: center;
            margin-top: $sxtn;
            grid-row: 2/3;
            grid-column: 2/6;
        }

        .wrapper-steps {
            margin-top: 1.302vw;
            display: flex;
            justify-content: space-evenly;
            grid-row: 3/4;
            grid-column: 2/6;
        }

        &__round {
            padding-top: 0.21vw;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: #E8F8FF;
            height: 2.083vw;
            width: 2.083vw;
            max-width: 40px;
            max-height: 40px;
            border-radius: 50%;
            color: rgba(186, 217, 231, 1);
            font-family: Epilogue;
            font-weight: bold;
            font-size: 1.25vw;
            cursor: pointer;

            &--active {
                background-color: #FEE5FF;
                color: $primary;
            }

        }

        &__line {
            background-color: #E8F8FF;
            align-self: center;
            width: 10.26vw;
            height: 0.1042vw;
            max-width: 197px;
            max-height: 2px;
        }

        &__item {
            margin-top: 3.125vw;
            grid-row: 4/5;
            display: grid;
            grid-template-columns: 1fr 5fr 5fr 1fr;
            
            &__header {
                grid-column: 2/3;
                @include title;
            }

            &__title {
                font-family: Epilogue;
                font-size: 1.146vw;
                line-height: 1.146vw;
                
            }

            &__subtitle {
                margin-top: 0.521vw;
                font-family: Epilogue;
                font-size: $thttw;
                line-height: 1.979vw;
                margin-bottom: $twnty;
            }

            &__left {
                @include text;
                font-size: 1.146vw;
                grid-column: 2/3;
                p {
                    margin-bottom: 1.563vw;
                    font-family: Epilogue;
                    line-height: 1.146vw;
                }

                :last-child {
                    margin-bottom: 0;
                }

                .active {
                    font-family: Epilogue;
                    color: $primary;
                    font-weight: bold;
                }
            }

            &__right {
                @include text;
                font-size: $sxtn;
                grid-column: 3/4;
                p {
                    font-family: Epilogue;
                    margin-bottom: $twnty;
                }

                :last-child {
                    margin-bottom: 0;
                }

                .subheader {
                    margin-bottom: $twnty;
                    line-height: $sxtn;
                }
            }

            .purple {
                font-weight: bold;
                color: $primary;
            }
        }
    }
   
}


.footer {
    grid-area: footer;
    &__container {
        height: 100%;
    }
}