//main color
$primary: #C774EE;

//Text-color
$paragraph: #63718E;
$link: #286DBD;
$inputs: #3A3A3A;
$title: #111563;

//Font-size
$sxtn: 0.8333vw;
$eitn: 0.9375vw;
$twnty: 1.042vw;
$thttw: 1.667vw;

